   
h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #1b1b1b;
}

h2 {
    font-size: 36px;
}

body a:hover, body a:focus {
    text-decoration: none;
    color: #e83749;
}

body a {
    color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
}
p {
       color: #151313;
       font-size: 16px;
       font-family: 'Poppins', sans-serif;
}

.pad0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.pad5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.mr0 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.ftp-section{
    padding: 30px 0;
}
.cl-center{
    display: flex;
    align-items: center;
}
section.segments-section .section-title {
    padding-bottom: 10px;
}

.form-control {
    height: 35px;
    border-radius: 0;
    padding-left: 13px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.form-group {
    width: 100%;
}

.btn-xl {
    font-size: 18px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    line-height: initial;
    background-color: #e83749;
    border: 2px solid #e83749;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    font-weight: 800;
    text-transform: uppercase;
}
.btn-xl:hover{
        background-color: #fff;
        border: 2px solid #e83749;
}

.mb-10{
	margin-bottom: 10px;
}

   /********** NAVBAR ***********/

.navbar-brand  span{
	color: #bc1c1e;
	font-size:25px;font-weight:700;letter-spacing:0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
.navbar-brand {
	color: #fff;
	font-size:25px;
    /* font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive; */
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-nav .nav-item .nav-link {
    padding: 10px 10px!important;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-nav .nav-item .nav-link:hover{color:#fed136;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #fed136;
}
.help-center {
    width: 22px;
    position: relative;
    top: -5px;
}

 .dropdown-toggle::after {
    position: relative;
    top: 2px;
}
/********** NAVBAR ***********/


   /********** SLIDER ***********/
.banner{
	background-image:url('../images/slider-1.jpg');
	text-align: center;
    color: #fff;
   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-text{
	padding:200px 0 150px 0;
}
.banner-heading{
	font-family: serif;
	font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
	color:#fff;
}
.banner-sub-heading{
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
	color:#fff;
}

.btn-banner{
	padding:5px 20px;
	border-radius:10px;
	font-weight:700;
	line-height:1.5;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
}
header .navbar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 109;
}
.fixed-header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: #bc1c1e;
    z-index: 9;
}
   /********** SLIDER ***********/
   /********** ABOUT ***********/
#about {
    margin: 60px 0;
        position: relative;

}
#about .circle {
    background-color: #bc1c1e;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    padding: 24px 22px;
    margin: auto;
}

#about h2 {
	color:#bc1c1e;
	font-size:45px;
}
.cd-top {
    bottom: 0px;
    color: #fff;
    display: block;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.8s ease 0s;
    font-family: 'Work Sans', sans-serif;
    width: 50px;
    z-index: 1;
    letter-spacing: 0px;
    font-weight: 600;
    background: #bc1c1e;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    left: 0;
    margin: 0 auto;
    bottom: -26px;
    border-radius: 100%;
    padding: 0;
}
.cd-top .fa {
    color: #FFF;
}
.about-1 p {
 text-align: center;
 color:#72727d;
 font-size:16px;
}

@media (max-width:768px) {
	.about-1 {
		margin-top: 20px;
 	    margin-bottom: 20px;

	}
  	#about h2 {
        font-size:35px;
  }

}

.about-1 {
	margin-top:20px;
}


   /********** ABOUT ***********/


   /********** GALLERY ***********/

  .post-slide{
	  background: #fff;
	  margin: 20px 15px 20px;
	  /* border-radius: 15px; */
	  padding-top: 1px;
	  /* box-shadow: 0px 14px 22px -9px #bbcbd8; */
  }
  .post-slide .post-img{
	  position: relative;
	  overflow: hidden;
	  /* border-radius: 10px; */
	  margin: -12px 15px 8px 15px;
	  margin-left: -10px;
	  margin-right: -10px;
  }
  .post-slide .post-img img{
	  width: 100%;
	  /* height: auto; */
	  height:auto;
	  transform: scale(1,1);
	  transition:transform 0.2s linear;
  }
  .post-slide:hover .post-img img{
	  transform: scale(1.1,1.1);
  }
  .post-slide .over-layer{
	  width:100%;
	  height:100%;
	  position: absolute;
	  top:0;
	  left:0;
	  opacity:0;
	  background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
	  transition:all 0.50s linear;
  }
  .post-slide:hover .over-layer{
	  opacity:1;
	  text-decoration:none;
  }
  .post-slide .over-layer i{
	  position: relative;
	  top:45%;
	  text-align:center;
	  display: block;
	  color:#fff;
	  font-size:25px;
  }
  .post-slide .post-content{
	  background:#fff;
	  padding: 2px 20px 40px;
	  border-radius: 15px;
  }
  .post-slide .post-title a{
	  font-size:15px;
	  font-weight:bold;
	  color:#333;
	  display: inline-block;
	  text-transform:uppercase;
	  transition: all 0.3s ease 0s;
  }
  .post-slide .post-title a:hover{
	  text-decoration: none;
	  color:#3498db;
  }
  .post-slide .post-description{
	  line-height:24px;
	  color:#808080;
	  margin-bottom:25px;
  }
  .post-slide .post-date{
	  color:#a9a9a9;
	  font-size: 14px;
  }
  .post-slide .post-date i{
	  font-size:20px;
	  margin-right:8px;
	  color: #CFDACE;
  }
  .post-slide .read-more{
	  padding: 7px 20px;
	  float: right;
	  font-size: 12px;
	  background: #2196F3;
	  color: #ffffff;
	  box-shadow: 0px 10px 20px -10px #1376c5;
	  border-radius: 25px;
	  text-transform: uppercase;
  }
  .post-slide .read-more:hover{
	  background: #3498db;
	  text-decoration:none;
	  color:#fff;
  }
  .owl-controls .owl-buttons{
	  text-align:center;
	  margin-top:20px;
  }
  .owl-controls .owl-buttons .owl-prev{
	  background: #fff;
	  position: absolute;
	  top:40%;
	  left:15px;
	  padding: 0 18px 0 15px;
	  border-radius: 50px;
	  box-shadow: 3px 14px 25px -10px #92b4d0;
	  transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-next{
	  background: #fff;
	  position: absolute;
	  top:40%;
	  right: 15px;
	  padding: 0 15px 0 18px;
	  border-radius: 50px;
	  box-shadow: -3px 14px 25px -10px #92b4d0;
	  transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-prev:after,
  .owl-controls .owl-buttons .owl-next:after{
	  content:"\f104";
	  font-family: FontAwesome;
	  color: #333;
	  font-size:30px;
  }
  .owl-controls .owl-buttons .owl-next:after{
	  content:"\f105";
  }
  @media only screen and (max-width:1280px) {
	  .post-slide .post-content{
		  padding: 0px 15px 25px 15px;
	  }
  }
   /********** GALLERY ***********/

.wait {
	background-color:#bc1c1e;
	padding-top:40px;
	padding-bottom:40px;
}

.wait h2 {
	color:white;
	/* display: inline-flex; */
}
/* 
.btn {
	background: none;
	border:1px solid white;
	color:white;
	width: 130px;
    height: 45px;
} */

#foot {
background-color: #395f74;
padding-top:40px;
padding-bottom:40px;
}

#foot h2 {
	color:white;
	font-weight:300;
}

#foot p {
	color:white;
	font-weight: 300;
}

.copyright {
 background-color: black;
 padding-top:10px;
 padding-bottom:10px;
}

.icon {
display: flex;
padding-top:20px;
justify-content: center;
/* text-align: center; */
list-style:none;
}

.icon li a {
	margin:10px;
}

.icon li a i {
	font-size:24px;
	color:white
}


.copyright p {
    font-weight: 400;
    padding-top: 10px;
}
a.copy-r {
    color: #bc1c1e;
    font-weight: 600;
}

.icon-1 {
	list-style:none;
	margin-top:30px;
}

@media (max-width:767px) {
	.copy {
		margin-top:20px;
		margin-bottom:20px;
		text-align: center !important;
		font-size:12px;
	}
}

/*.box {
	width: 50%;
	margin: 0 auto;
	background: rgba(53, 52, 52, 0.2);
	padding: 50px;
	border: 2px solid #fff;
	background-clip: padding-box;
	text-align: center;
   }*/
   


   /***************************************** popup css ****************************/
   p.or {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}
   .button {
	font-size: 20px;
	padding: 10px;
	color: #fff;
	/* border: 2px solid #FF9800; */
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	margin-top:8px;
   }
   .button:hover {
	/* background: #06D85F; */
   }
   
   .overlay {
    	position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
   }
   .overlay:target {
	visibility: visible;
	opacity: 1;
   }
   
   .popup {
	margin: 70px auto;
	/* padding: 20px; */
	padding:15px;
	background: #fff;
	/* background-image: url('../images/popup-image.jpg'); */
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
   }
   
   .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
   }
   .popup .close {
	position: absolute;
	/* top: 20px;
	right: 30px; */
	top:0px;
	right:15px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
   }
   .popup .close:hover {
	color: #06D85F;
   }
   .popup .content {
	max-height: 30%;
	overflow: auto;
   }
   
   @media screen and (max-width: 700px){
	.box{
	width: 70%;
	}
	.popup{
	width: 70%;
	}
   }

.pop {
	margin:auto;
	display: block;
	width:130px;
}

@media (max-width:767px){
.password {
	font-size:14px;
}
.pop {
  width:100px;
  height:100px;
}
}
img.img-fluid.po-logo {
    width: 100px;
    margin: auto;
    display: block;
}


/* @media(max-width:767px) {
	.bdr {
		width:270px;
	}
} */

input:focus {
	outline: 0;
}

.button-1 {
    background-color: #e43f3b;
       border: 2px solid #e43f3b;
    padding: 6px 0;
    color: #fff;
    margin: 0px auto 0;
    border-radius: 23px;
}
button.button-1.otp-btn {
    background: transparent;
    color: #000;
    border: 2px solid #e43f3b;
    padding: 6px 0;
        font-weight: 500;
}

@media (max-width:767px) {
	.button-1 {
		width:100%;
	}
}

.popup-forget {
    color: #007bff;
    font-size: 15px;
}

a.all-p {
    color: #007bff;
}
a.button-1.ar {
      background-color: #e43f3b;
    border: 2px solid #e43f3b;
    padding: 6px 0;
    color: #fff;
    margin: 0px auto 0;
    width: 180px;
    border-radius: 23px;
    display: block;
    text-align: center;
}
a.resnd {
    text-align: center;
    display: block;
    padding-bottom: 10px;
}
a.button-1.otp-btn {
    background: transparent;
    color: #000;
    border: 2px solid #e43f3b;
    padding: 6px 0;
    font-weight: 500;
    width: 180px;
    display: block;
}
@media (max-width:767px) {
	.popup-forget {
		font-size:13px;
	}
}
button:focus {
    outline: 1px dotted;
    outline: none;
}

.create {
	color: black;
	font-weight: 400;
}

@media (max-width:767px) {
	.create {
		font-size:12px;
	}
}

.button-2 {
	background-color:#e43f3b;
	width:80%;
	height:45px;
	border:none;
	color:white;
	border-radius:5px;
	margin-top:20px;
}

#cars {
	width:100%;
	height:35px;
}

select:focus {
	outline:0;
}

/* .form-group {
	padding-top:5px;
} */

@media (max-width:767px) {
	.form-group {
		margin-bottom:20px;
	}
}

.gender {
	font-size:13px;
	/* margin-top:-15px; */
}

#cars-1 {
	width:100%;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	font-size:13px;
}


.bdr-1 {
	width:100%;
	border:none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	font-size:13px;
}
.form-content label {
	font-size:16px;
	font-weight: 600;

}

@media(max-width:767px) {
	.form-content label {
		width:39%;
	}
}


/*********************  top slider css ***********************/
#minimal-bootstrap-carousel {
    position: relative;
}
#minimal-bootstrap-carousel .carousel-caption {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    text-align: right;
    text-shadow: none;
}

#minimal-bootstrap-carousel .carousel-caption .container {
    display: table;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 1199px) {
    #minimal-bootstrap-carousel .carousel-caption .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    #minimal-bootstrap-carousel .carousel-caption .container {
        max-width: 720px;
    }
}

#minimal-bootstrap-carousel .carousel-caption .container .box {
    display: table-cell;
    text-align: left;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-top {
    vertical-align: top;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-bottom {
    vertical-align: bottom;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-middle {
    vertical-align: middle;
}

#minimal-bootstrap-carousel .carousel-caption .container .box .content {
    display: block;
}

#minimal-bootstrap-carousel [class*=carousel-control] {
    background: none;
    width: 40px;
    height: 40px;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    background-color: black;
    visibility: visible !important;
    opacity: .7;
    border: 1px solid #000;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
}

@media (max-width: 667px) {
    #minimal-bootstrap-carousel [class*=carousel-control] {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    #minimal-bootstrap-carousel [class*=carousel-control] {
        width: 40px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
        background: rgba(255, 255, 255, 0.4);
        color: #000;
    }
}

#minimal-bootstrap-carousel .carousel-control-prev {
    left: 1%;
}

#minimal-bootstrap-carousel .carousel-control-next {
    right: 1%;
}

#minimal-bootstrap-carousel [class*=carousel-control]:hover {
    opacity: 1;
    background: #FFBA60;
    border-color: #FFBA60;
}

/* fixing slider height */
#minimal-bootstrap-carousel.slider-home-one .carousel-inner .carousel-item {
    height: 95vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
}


.slider-content-style .content {
    text-align: center;
    position: relative;
    z-index: 999;
}

.slider-content-style .content h3,
.slider-content-style .content h2,
.slider-content-style .content p {
    margin: 0;
}

.slider-content-style .content h3 {
    color: #fff;
    font-size: 45px;
    line-height: 1em;
    font-weight: 600;
    font-family: 'Josefin Sans';
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

@media (max-width:768px) {
 .slider-content-style .content h3 {
     font-size:40px;
	}
}


.slider-content-style .content p {
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: .150em;
    margin-top: 20px;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.slider-content-style .content a.thm-btn {
    background: #ffba60;
    display: inline-block;
    vertical-align: middle;
    color: #222222;
    font-size: 18px;
    letter-spacing: .1em;
    font-weight: 600;
    padding: 10px 17px;
    margin-top: 27px;
    transition: all .4s ease;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    border-radius: 8px;
}

.slider-content-style .content a.thm-btn:hover {
    background: #fff;
}


button.button-2.search {
    width: 100px;
    display: block;
    margin: auto;
    height: 35px;
    margin-top: 15px;
}

@media (max-width:768px) {
	button.button-2.search {
		width:90px;
		height:30px;
		font-size:13px;
	}
}

a.button-2 {
    padding: 6px 20px;
    color: #fff;
}
/******** VERIFICATION PAGE **********/

.verified {
	display: flex;
}

.verification {
	border:1px solid black;
	border-bottom: none;
	width:60px;
	height:50px;
}

.code {
	display: flex;
	margin:0px;
	padding:0px;
	margin-bottom:30px;
}

.code input[type="text"] {
	width:25%;
}





.code li {
	width:60px;
	height:50px;
	list-style:none;
}

.code-1 {
	width:60px;
}
li input {
	margin:10px;
}

.button-2 {
	background-color: #e43f3b;
    width: 100%;
    height: 45px;
    border: none;
    color: white;
	border-radius: 5px;
	font-size:13px;
}

.resend {
	text-align: right;
}

.verify-button {
	background:rgb(255, 90, 96);
    text-align: center;
	color: white;
	padding-top: 5px;
    padding-bottom: 5px;
}




/******** VERIFICATION PAGE **********/
.updated {
	text-align: center;
}
.updated h3 {
    color: #fff;
    margin-top: 20px;
    font-size: 27px;
}

@media (max-width:767px) {
	.updated h3 {
		font-size:17px;
	}
}



.hidden {
	opacity: 0;
  }
  
  .btn {
	/* box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important; */
	padding: .5rem 2rem;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	border: 0;
  }
  
  .br-2 {
	border-radius: 2px;
  }
  
  .btn-primary {
	background-color: #395f74;
  }
  .btn-primary:hover {
	background-color: #395f74;
  }
  .btn-primary:focus {
	background-color: #395f74;
	color: white;
  }
  .btn-primary:active {
	background-color: #07285a !important;
  }
  
  .btn-outline-primary {
	border: 1px solid #0d47a1;
	color: #0d47a1;
  }
  
  .btn-sm {
	padding: 0.8rem 1.5rem;
  }
  
  .btn-md {
	padding: 1rem 1.6rem;
  }
  
  .btn-white-primary {
	background: #fff;
	color: #395f74;
  }
  .btn-white-primary:hover {
	background-color: #395f74;
	color: white;
  }
  .btn-white-primary:focus {
	background-color: #395f74;
	color: white;
  }
  .btn-white-primary:active {
	background-color: #395f74;
	color: white;
  }
  
  .delay-0 {
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
  }
  
  .delay-1 {
	animation-delay: 0.25s;
	-webkit-animation-delay: 0.25s;
  }
  
  .delay-2 {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
  }
  
  .delay-3 {
	animation-delay: 0.75s;
	-webkit-animation-delay: 0.75s;
  }
  
  .delay-4 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
  }
  
  .delay-5 {
	animation-delay: 1.25s;
	-webkit-animation-delay: 1.25s;
  }
  
  .delay-6 {
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
  }
  
  .delay-7 {
	animation-delay: 1.75s;
	-webkit-animation-delay: 1.75s;
  }
  
  .delay-8 {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
  }
  
  .delay-9 {
	animation-delay: 2.25s;
	-webkit-animation-delay: 2.25s;
  }
  
  .delay-10 {
	animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
  }
  
  @media screen and (min-width: 576px) {
	.delay-sm-0 {
	  animation-delay: 0s;
	  -webkit-animation-delay: 0s;
	}
  
	.delay-sm-1 {
	  animation-delay: 0.25s;
	  -webkit-animation-delay: 0.25s;
	}
  
	.delay-sm-2 {
	  animation-delay: 0.5s;
	  -webkit-animation-delay: 0.5s;
	}
  
	.delay-sm-3 {
	  animation-delay: 0.75s;
	  -webkit-animation-delay: 0.75s;
	}
  
	.delay-sm-4 {
	  animation-delay: 1s;
	  -webkit-animation-delay: 1s;
	}
  
	.delay-sm-5 {
	  animation-delay: 1.25s;
	  -webkit-animation-delay: 1.25s;
	}
  
	.delay-sm-6 {
	  animation-delay: 1.5s;
	  -webkit-animation-delay: 1.5s;
	}
  
	.delay-sm-7 {
	  animation-delay: 1.75s;
	  -webkit-animation-delay: 1.75s;
	}
  
	.delay-sm-8 {
	  animation-delay: 2s;
	  -webkit-animation-delay: 2s;
	}
  
	.delay-sm-9 {
	  animation-delay: 2.25s;
	  -webkit-animation-delay: 2.25s;
	}
  
	.delay-sm-10 {
	  animation-delay: 2.5s;
	  -webkit-animation-delay: 2.5s;
	}
  }
  @media screen and (min-width: 768px) {
	.delay-md-0 {
	  animation-delay: 0s;
	  -webkit-animation-delay: 0s;
	}
  
	.delay-md-1 {
	  animation-delay: 0.25s;
	  -webkit-animation-delay: 0.25s;
	}
  
	.delay-md-2 {
	  animation-delay: 0.5s;
	  -webkit-animation-delay: 0.5s;
	}
  
	.delay-md-3 {
	  animation-delay: 0.75s;
	  -webkit-animation-delay: 0.75s;
	}
  
	.delay-md-4 {
	  animation-delay: 1s;
	  -webkit-animation-delay: 1s;
	}
  
	.delay-md-5 {
	  animation-delay: 1.25s;
	  -webkit-animation-delay: 1.25s;
	}
  
	.delay-md-6 {
	  animation-delay: 1.5s;
	  -webkit-animation-delay: 1.5s;
	}
  
	.delay-md-7 {
	  animation-delay: 1.75s;
	  -webkit-animation-delay: 1.75s;
	}
  
	.delay-md-8 {
	  animation-delay: 2s;
	  -webkit-animation-delay: 2s;
	}
  
	.delay-md-9 {
	  animation-delay: 2.25s;
	  -webkit-animation-delay: 2.25s;
	}
  
	.delay-md-10 {
	  animation-delay: 2.5s;
	  -webkit-animation-delay: 2.5s;
	}
  }
  @media screen and (min-width: 992px) {
	.delay-lg-0 {
	  animation-delay: 0s;
	  -webkit-animation-delay: 0s;
	}
  
	.delay-lg-1 {
	  animation-delay: 0.25s;
	  -webkit-animation-delay: 0.25s;
	}
  
	.delay-lg-2 {
	  animation-delay: 0.5s;
	  -webkit-animation-delay: 0.5s;
	}
  
	.delay-lg-3 {
	  animation-delay: 0.75s;
	  -webkit-animation-delay: 0.75s;
	}
  
	.delay-lg-4 {
	  animation-delay: 1s;
	  -webkit-animation-delay: 1s;
	}
  
	.delay-lg-5 {
	  animation-delay: 1.25s;
	  -webkit-animation-delay: 1.25s;
	}
  
	.delay-lg-6 {
	  animation-delay: 1.5s;
	  -webkit-animation-delay: 1.5s;
	}
  
	.delay-lg-7 {
	  animation-delay: 1.75s;
	  -webkit-animation-delay: 1.75s;
	}
  
	.delay-lg-8 {
	  animation-delay: 2s;
	  -webkit-animation-delay: 2s;
	}
  
	.delay-lg-9 {
	  animation-delay: 2.25s;
	  -webkit-animation-delay: 2.25s;
	}
  
	.delay-lg-10 {
	  animation-delay: 2.5s;
	  -webkit-animation-delay: 2.5s;
	}
  }
  @media screen and (min-width: 1200px) {
	.delay-xl-0 {
	  animation-delay: 0s;
	  -webkit-animation-delay: 0s;
	}
  
	.delay-xl-1 {
	  animation-delay: 0.25s;
	  -webkit-animation-delay: 0.25s;
	}
  
	.delay-xl-2 {
	  animation-delay: 0.5s;
	  -webkit-animation-delay: 0.5s;
	}
  
	.delay-xl-3 {
	  animation-delay: 0.75s;
	  -webkit-animation-delay: 0.75s;
	}
  
	.delay-xl-4 {
	  animation-delay: 1s;
	  -webkit-animation-delay: 1s;
	}
  
	.delay-xl-5 {
	  animation-delay: 1.25s;
	  -webkit-animation-delay: 1.25s;
	}
  
	.delay-xl-6 {
	  animation-delay: 1.5s;
	  -webkit-animation-delay: 1.5s;
	}
  
	.delay-xl-7 {
	  animation-delay: 1.75s;
	  -webkit-animation-delay: 1.75s;
	}
  
	.delay-xl-8 {
	  animation-delay: 2s;
	  -webkit-animation-delay: 2s;
	}
  
	.delay-xl-9 {
	  animation-delay: 2.25s;
	  -webkit-animation-delay: 2.25s;
	}
  
	.delay-xl-10 {
	  animation-delay: 2.5s;
	  -webkit-animation-delay: 2.5s;
	}
  }
  .pricing-table {
	overflow: hidden;
  }
  .pricing-table .card {
	position: relative;
	text-align: center;
	background-color: #fff;
	margin-bottom: 50px;
	border: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, 0.1);
	width:100%;
  }
  .pricing-table .card:hover {
	-webkit-transform: scale(1.03);
			transform: scale(1.03);
  }
  .pricing-table .card.most-popular .card-heading {
	background-color: #395f74;
  }
  .pricing-table .card .card-heading {
	background-color: #395f74;
	padding: 10px 10px;
	border-radius: 4px 4px 0 0;
	text-transform: uppercase;
  }
  .pricing-table .card .card-heading h3 {
	margin-bottom: 0;
	padding: 10px 0;
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	font-weight: 500;
  }
  .pricing-table .card .card-body {
	padding: 0px;
	text-align: center;
  }
  .pricing-table .card .card-body .the-price {
	position: relative;
	overflow: hidden;
	padding: 20px 10px 50px 10px;
	margin: 0;
  }
  .pricing-table .card .card-body .the-price h1 {
	line-height: 1em;
	padding: 0;
	margin: 0 0 15px 0;
	color: #525252;
	font-size: 2rem;
  }
  .pricing-table .card .card-body .the-price h1 small {
	font-size: 1rem !important;
  }
  .pricing-table .card .card-body .the-price .license-count {
	font-weight: 500;
	color: #676767;
	text-transform: uppercase;
	font-size: 0.8rem !important;
	border: 1px dashed #e6e6e6;
	display: -webkit-inline-box;
	display: inline-flex;
	padding: 5px;
  }
  .pricing-table .card .card-body .card-data {
	padding: 20px;
	align-self: stretch;
	background: #fff;
	overflow: hidden;
  }
  .pricing-table .card .card-body .card-data p {
	font-size: 0.75rem;
	line-height: 1.4;
	font-family: "Muli", "Helvetica Neue", Arial, sans-serif;
	color: #676767;
	font-weight: 500;
	padding-bottom: 20px;
	text-align: center;
	border-bottom: 1px dashed #e6e6e6;
  }
  .pricing-table .card .card-body .card-data ul {
	padding: 0 0 0 1rem;
	margin: 0;
	list-style: none;
	text-align: left !important;
  }
  .pricing-table .card .card-body .card-data li.plan-feature-list {
	padding: 5px 0;
	font-size: 12px;
	font-weight: 600;
	position: relative;
	color: #525252;
	letter-spacing: 1px;
  }
  .pricing-table .card .card-body .card-data li.plan-feature-list::before {
	content: "";
	position: absolute;
	display: inline-block;
	left: -1.2rem;
	top: 10px;
	border-width: 3px;
	border-style: solid;
	border-color: #395f74;
	-webkit-transform: rotateZ(-45deg);
			transform: rotateZ(-45deg);
  }
  .pricing-table .card .card-body .card-data li.plan-feature-list:not(:last-child) {
	margin-bottom: 8px;
  }
  .pricing-table .card .card-body .sign-up-strip {
	padding: 12px 20px;
	position: relative;
	z-index: 9;
	background: #212121;
	margin: -30px -6px 0 -6px;
	box-shadow: 0 12px 20px -10px rgba(2, 164, 81, 0.1), 0 4px 20px 0px rgba(0, 0, 0, 0.05), 0 7px 8px -5px rgba(2, 164, 81, 0.15);
  }
  .pricing-table .card .card-body .sign-up-strip::after, .pricing-table .card .card-body .sign-up-strip::before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	width: 6px;
	height: 6px;
	background: #212121;
	z-index: -1;
  }
  .pricing-table .card .card-body .sign-up-strip::after {
	right: 0;
	-webkit-transform: skewY(20deg);
			transform: skewY(20deg);
  }
  .pricing-table .card .card-body .sign-up-strip::before {
	left: 0;
	-webkit-transform: skewY(-20deg);
			transform: skewY(-20deg);
  }
  .pricing-table .card .card-footer {
	background: #e6e6e6;
	text-align: center;
	border: 0;
	border-radius: 0;
	padding: 10px;
	border-bottom: 3px solid #395f74;
  }
  
  .stamp-container {
	position: absolute;
	top: 85px;
	right: -18px;
	-webkit-perspective: 30em;
			perspective: 30em;
  }
  
  .stamp {
	color: #555;
	font-size: 0.8rem;
	font-weight: 700;
	border: 0.35rem solid #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 0;
	-webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
	-webkit-mask-size: 944px 604px;
	mix-blend-mode: multiply;
	-webkit-transform: rotateZ(-20deg) scale(1);
			transform: rotateZ(-20deg) scale(1);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
  }
  
  .stamped {
	-webkit-animation-name: stamped;
	animation-name: stamped;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
			animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  
  @-webkit-keyframes stamped {
	0% {
	  opacity: 0;
	  -webkit-transform: rotateY(80deg) rotateZ(0deg) scale(5);
			  transform: rotateY(80deg) rotateZ(0deg) scale(5);
	}
	60% {
	  opacity: 1;
	  -webkit-transform: rotateY(0) rotateZ(-20deg) scale(1);
			  transform: rotateY(0) rotateZ(-20deg) scale(1);
	}
	80% {
	  opacity: 0.95;
	  -webkit-transform: rotateZ(-20deg) scale(0.98);
			  transform: rotateZ(-20deg) scale(0.98);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: rotateZ(-20deg) scale(1);
			  transform: rotateZ(-20deg) scale(1);
	}
  }
  
  @keyframes stamped {
	0% {
	  opacity: 0;
	  -webkit-transform: rotateY(80deg) rotateZ(0deg) scale(5);
			  transform: rotateY(80deg) rotateZ(0deg) scale(5);
	}
	60% {
	  opacity: 1;
	  -webkit-transform: rotateY(0) rotateZ(-20deg) scale(1);
			  transform: rotateY(0) rotateZ(-20deg) scale(1);
	}
	80% {
	  opacity: 0.95;
	  -webkit-transform: rotateZ(-20deg) scale(0.98);
			  transform: rotateZ(-20deg) scale(0.98);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: rotateZ(-20deg) scale(1);
			  transform: rotateZ(-20deg) scale(1);
	}
  }

  .cardss {
	  width:100%;
  }
.plan {
	border:1px solid black;
	width:100%;
}

#plans {
	margin-bottom:20px;
}

.plans {
	padding-top:50px;
	padding-bottom:30px;
}

.plan-1 {
	margin:auto ;
	display: block;
	margin-top:30px;
}

.skip {
	text-align: right;
	color:#395f74;
}

a.skip {
    color: #fff;
}
a.skip:hover {
    color: #fff;
}

/****************** new price **************/

section#price-bg {
        background: -o-linear-gradient(45deg,#a82c32d4,#bc1c1e);
    background: linear-gradient(45deg,#a82c32d4,#bc1c1e);
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    padding-top: 100px;
}
section#price-bg .background-pr {
    height: 150px;
}
section#price-bg .content h2 {
    font-size: 19px;
    color: #Fff;
}

section#price-bg .box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 100px;
    background: #bb2629;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(187 38 40);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

section#price-bg .box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}



section#price-bg .box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

section#price-bg .box span:nth-child(1)
{
  transform:rotate(0deg);
}

/*.box span:nth-child(2)
{
  transform:rotate(90deg);
}*/

section#price-bg .box span:nth-child(3)
{
  transform:rotate(180deg);
}

/*.box span:nth-child(4)
{
  transform:rotate(270deg);
}*/

section#price-bg .box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
}


header.header-m {

}
nav.navbar.navbar-expand-md.navbar-dark.nav-ap {
	    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
    width: 100%;
    margin-bottom: 0px;
    margin-bottom: 0px;
        box-shadow: none;
}

section#price-bg .pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}

section#price-bg .pricing-card{
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
      padding: 0 20px;
}

section#price-bg .pricing-card-header{
  background-color: #0fbcf9;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
      margin: 0;
}

section#price-bg .pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 24em #0fbcf9;
}

section#price-bg .price {
    font-size: 70px;
    color: #0fbcf9;
    margin: 15px 0;
    transition: .2s linear;
}

section#price-bg .price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

section#price-bg .pricing-card:hover , section#price-bg .pricing-card:hover .price{
  color: #fff;
}

section#price-bg .pricing-card li {
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase;
    list-style: none;
    font-weight: 500;
}
section#price-bg .pricing-table ul {
    padding: 0;
}

section#price-bg .order-btn{
  display: inline-block;
  margin-bottom: 40px;
    margin-top: 60px;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

section#price-bg .order-btn:hover{
  background-color: #0fbcf9;
  color: #fff;
}

@media screen and (max-width:1100px){
 section#price-bg .pricing-card{
    flex: 50%;
  }
}

.card.cardss.card-primary.plans {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.05);
    box-shadow: 0 2px 4px rgba(0,0,0,.05);
    border-radius: 6px;
    text-align: center;
    background: #fff;
    margin: 40px 0;
    padding: 36px 0;
    border: 10px solid;
        border-image-source: linear-gradient(45deg, rgb(0 143 104 / 75%), rgb(228 63 59 / 78%));
    border-image-slice: 1;
    border-radius: 52px;
}
.row.justify-content {
    justify-content: center;
}
.card.cardss.card-primary.plans h4.text-center {
    padding-bottom: 19px;
}
section.que-plans {
    padding: 80px 0;
}
.qu-content {
    padding: 16px;
    background: #f2f2f2;
        margin-bottom: 30px;
}
.sec-title h2 {
    text-align: center;
    padding-bottom: 20px;
}
section#marriage-card {
    padding-bottom: 50px;
}
.marriage-card {
    background: #f2f2f2;
}

.marriage-card {
    background: #f2f2f2;
}
.marriage-card {
    background: #f2f2f2;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.1) 0px 1px 4px;
    padding: 20px;
}
.right-m i.fa.fa-quote-left {
    font-size: 60px;
    opacity: .5;
}


.qu-content h4 {
    font-size: 18px;
}
.right-m {
    padding-top: 20PX;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 0 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
div#content .navbar {
    background: #e83749;
}

.jumbotron {
    background-color: #ffffff;
}
.brand-logo {
    text-align: center;
    margin: auto;
    display: block;
}
.brand-logo a {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}
.brand-logo a:hover {
    color: #fff;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
/********* HOME PAGE ************/

.navbar-brand  span{
	color: white;
	font-size:17px;font-weight:700;letter-spacing:0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
.navbar-brand {
	color: #fff;
	font-size:25px;
    /* font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive; */
	font-weight:700;
	letter-spacing:0.1em;
}


.navbar-nav .nav-item .nav-link:hover{color:white;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #fed136;
}

#banner {
	background: rgb(255, 90, 96);

}

#banner1 {
top:70px;
}


.navbar-nav .nav-itemm .nav-link{
	padding: 1.1em 1em!important;
	font-size: 90%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fdedee;
}

.head {
	color:black;
}

/********************** home page why choose section ********************/
.section_wapper {
    padding: 60px 0px;
    background: #f2f2f2;
}
.why_choose_icon {
    margin: 0 auto 20px;
    display: table;
    width: 70px;
    height: 70px;
}
.why_choose_title {
    text-align: center;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.why_choose_text {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #999;
}
.section_title {
    font-size: 45px;
    line-height: 48px;
    position: relative;
    margin-bottom: 15px;
    color: #333;
}
.section_title_wapper {
    text-align: center;
    margin-bottom: 40px;
}
.section_sub_title {
    font-size: 18px;
    line-height: 22px;
    position: relative;
    color: #666;
}
.why_choose_icon img {
    width: 63px;
}


/*************************** JOIN SECTION ******************/
.ragister_section_wapper {
    background: url(../images/ragister_bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}
.ragister_section_wapper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    background-image: linear-gradient(to right top, #bc1c1e, #bc1c1e, #bc1c1e, #ffffff, #bc1c1e);
    background-size: 400% 400%;
    animation: gradientBG 3s ease infinite;
}
section#about-sec {
    padding: 60px 0;
        text-align: center;
}
.section-title h2 {
    padding-bottom: 20px;
}
.ragister_se_title.section_title {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
}
.ragister_se_text {
    text-align: center;
    color: #FFF;
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
    font-size: 20px;
}
.ragister_button {
    margin: 0 auto;
    display: table;
    position: relative;
    z-index: 2;
}
.btn01 {
    font-size: 16px;
    color: #FFF;
    letter-spacing: 0.5px;
    font-weight: 500;
    background-color: transparent;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
    padding: 10px 18px;
    transition: all 0.8s ease 0s;
    position: relative;
    text-transform: uppercase;
    border: 0px;
    background: #6A38D4;
}
.ragister_button .btn01 {
    background: #FFF;
    color: #333;
}
/********** NAVBAR **********/

/******** CARDS********/

#profile-greed .card {
	margin-top:80px !important;
	margin:auto;
}
.main-matches .card-body {
	box-shadow: 0 0 6px 6px rgba(130,134,145,.11);
	padding:0px;

}

section#edit-personal-profile .card {
    margin-bottom: 20px;
}
.card-circle {
	border:3px solid  rgba(130,134,145,.11);
	border-radius: 50%;
	width:150px;
	height:150px;
	margin:auto;
	display: block;
}

.card-top {
	margin-top:-35px;
}

.id {
	margin-top: -10px;
    font-size: 13px;
}

.edit {
	text-align: end;
	margin-top:0px;
}
.member {
    margin-top: 0;
    font-size: 15px;
    color: #fff;
}

.edit-1 {
	text-align: end;
	margin-top:0px;
}
.type {
    font-size: 15px;
        margin-bottom: 5px;
}

.upgrade {
	margin-bottom:15px;
}

.activity {
	margin-top:80px;
	text-align:left;
}

.summary {
	font-size:17px;
}


.text {
	color:#51505d;
	font-size:15px;
	font-weight: 300;
}

.thumb {
	box-shadow: 0 0 6px 6px rgba(130,134,145,.11);
	width:100%;
}


/*********** USER PAGE ************/

.user-profile .single-item {
	margin-bottom: 30px;
  }
  .user-profile .item .thumb {
	position: relative;
	overflow: hidden;
	z-index: 1;
  }

  section#user .item {
    box-shadow: 0px 1px 5px 3px #0e0e0e7a;
}
  .user-profile .item .thumb .overlay p {
	color: #FFFFFF;
  }
  .user-profile .item .thumb .overlay h4 {
	color: #FFFFFF;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
  }
.user-profile .item .thumb img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    width: 100%;
    object-fit: cover;
    height: 350px;

}


section.interest-sec .user-profile .item .thumb img {
         border-radius: 5px;
}
.user-profile .info a {
    text-decoration: none;
    color: #fff;
}
  .user-profile .item .thumb .social li {
	display: inline-block;
  }
  .user-profile .item .thumb .social li a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #FFFFFF;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin: 0 2px;
	text-align: center;
	width: 40px;
  }
  .user-profile .info {
	  background: #00000080 none repeat scroll 0 0;
	  -moz-box-shadow: 0px 1px 5px 3px #0e0e0e7a -webkit-box-shadow:0px 1px 5px 3px #0e0e0e7a;
	  box-shadow: 0px 1px 5px 3px #0e0e0e7a;
	  /* text-align: center; */
	  z-index: 9;
	  position: absolute;
	  bottom: 0;
	  width: 100%;
  }
  .user-details {
    padding: 0 16px;
}
  .user-profile .info .message {
	height: 50px;
	line-height: 40px;
	margin-left: -25px;
	margin-top: -25px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 50px;
  }
  .user-profile .info .message a {
	background: #fff none repeat scroll 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-moz-box-shadow: 0 0 10px #CCCCCC;
	-webkit-box-shadow: 0 0 10px #CCCCCC;
	-o-box-shadow: 0 0 10px #CCCCCC;
	box-shadow: 0 0 10px #CCCCCC;
	box-sizing: border-box;
	color: #FF5A6E;
	display: inline-block;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	width: 50px;
  }
  .user-profile .info .message a i {
	font-weight: 500;
  }
.user-profile .info h4 {
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    padding-top: 4px;
}
  .user-profile .info span {
		color: #fff;
	font-family: "Poppins",sans-serif;
	  font-size: 12px;
  }
  .user-profile .social li.twitter a {
	background-color: #00B6F1;
  }
  .user-profile .social li.pinterest a {
	background-color: #BD081C;
  }
  .user-profile .social li.facebook a {
	background-color: #3B5998;
  }
  .user-profile .social li.google-plus a {
	background-color: #DF4A32;
  }
  .user-profile .social li.vimeo a {
	background-color: #1AB7EA;
  }
  .user-profile .social li.instagram a {
	background-color: #CD486B;
  }
  .s-icon-right {
	  padding: 5px 0px;
	  list-style: none;
	  background: #AF2B51;
	  border-radius: 0 0 0 10px;
	  top: 0;
	  right: 0;
	  z-index: 2;
	  transition: all .3s ease .2s;
	  position: absolute;
  }
 
  .s-icon-right  a:hover {
	  color: #0056B3;
	  text-decoration: none;
  }
  section#user {
	  margin: 69px 0;
	  padding-bottom: 40px;
  }

.user-details p{
    color: white;
    font-size: 13px;
    margin-bottom: 0;
}
  .profession-1 {
	color: white;
	font-size:13px;
  }

.year {
	font-size:13px;
}
	


.user-details h6 {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

  .info-1 {
	  background: red;
	  width:100%;
	  height:50px;
  }

.profile-list {
    list-style: none;
    margin-bottom: 0px;
    text-align: center;
       background: #bc1c1e;
    width: 100%;
    padding: 7px 0 5px 0;
}
.profile-list li {
    display: inline-block;
    width: 23%;
}

  .profile-list li a span {
	  margin-top:0px;
	  font-size:12px;
  }

.profile-list i {
    color: white;
    font-size: 14px;
    display: block;
}
/*********** USER PAGE ************/


/************HOME FOOTER PAGE ************/

.page-footer  {
	/* display:flex; */
	list-style: none;
	padding:0;
	text-align: center;
}

.page-footer li {
	display: inline-block;
}
@media (max-width:767px) {
	.page-footer li a {
		margin: 15px 9px !important;
		
		font-size: 11px;
	}
}





 .page-footer li a  {
	margin:15px;
	color:#72727D;
}
.copy {
	color:#72727D;
	text-align:right;
}

/************HOME FOOTER ************/

/************HOME PAGE ************/



/************ABOUT PROFILE ************/

.card-1 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:20px;
	color:#72727D;

}

.name {
	font-weight: 300;
}

.about-p {
	margin-top:70px;
}

.about-profile {
	line-height: 30px;
}

.information {
	text-align:center;
	margin-top:-25px;
}

.info-married {
	margin:115px;
}

.info-home {
	margin:170px;
}

.info-working {
	margin:145px;
}

.card-2 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	/* padding-top:20px;
	padding-bottom:20px; */
	padding:20px;
	color:#72727D;
	margin-left:-44px;
	line-height:37px;
	text-align:center;
}

.detailed-profile {
	margin-top:20px;
}

.about-divisha {
	font-weight: 400;
	color: rgb(255, 90, 96);
	font-family: Roboto, sans-serif;
    font-size:20px;
}


.bio {
	font-size:15px;
	font-family: Roboto, sans-serif;
}

.background {
	font-family: Roboto, sans-serif;
	font-size:15px;
	line-height:20px;
}

/******* EDIT PERSONAL PROFILE *******/

.edit-personal {
    color: #1b1b1b;
    margin-left: 20px;
}

a.log-out {
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 10px;
    font-weight: 600;
}
@media (max-width:767px) {
	.profile-id-search {
		margin-top:25px;
		margin-bottom:30px;
	}
}


@media(max-width:767px) {
	.edit-personal {
		margin-top:40px;
	}
}



#edit-personal-profile .card-1 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 20px;
    color: #72727D;
}

section#edit-personal-profile i.fa.fa-plus {
    text-align: right;
    float: right;
    width: 100%;
}
section#edit-personal-profile i.fa.fa-minus {
    float: right;
    width: 100%;
    text-align: right;
}
section#edit-personal-profile button.btn.btn-link {
	width: 100%;
	color: #6d6b6b;
    font-weight: 500;
    font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	top: -5px;
	padding: 0rem 2rem;
	text-transform: capitalize;
	left:-33px;
}
section#edit-personal-profile .card-header {
    padding: 0rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}





section#edit-personal-profile i {
    position: relative;
    top: 4px;
}

section#edit-personal-profile {
    padding: 35px 0 80px 0;
}
/******* EDIT PERSONAL PROFILE *******/

/******* HEADER TAB **********/

#banner-1 {
	margin-top:63px;
	background: white;
}
header.user .nav-link-1 {
    color: #ffff;
    margin: 20px;
}
/******* HEADER TAB **********/

/******* PAYMENT TAB **********/

.save-money {
	background-color: #395f74;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	color:white;
}

.card-3 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:20px;
	color:#72727D;

}

.card-no-text {
	font-size: 15px;
    font-family: Roboto,sans-serif;
    font-weight: 600;
}


.card-number {
	width:74%;
	border:none;
	border:1px solid  rgb(223, 224, 227);
    height:40px;
}

.valid-upto {
	width:20%;
	border:none;
	border:1px solid  rgb(223, 224, 227);
	height:40px;
	margin:10px;
	padding-left:10px;
}

.payment-button {
	border: none;
    width: 100px;
    height: 40px;
    background: #395f74;
	color: white;
	margin-top:30px;
}

.card-space {
	margin:auto;
}
#bank {
	width:85%;
	height:35px;
	padding-left:10px;
}

.bank-text {
	font-size:12px;
	margin-top:30px;
}

.upi-address {
	width:60%;
	border:none;
	border:1px solid  rgb(223, 224, 227);
	height:40px;
	/* margin:10px;	 */
	padding-left:10px;
}

.flex-column .nav-link.active {
	color: black;
	background: rgb(223, 224, 227);
	padding:20px;
}

.flex-column .nav-item .nav-link {
	color:black;
}

.bank-margin {
	margin-top:-75px;
}

.upi-margin {
	margin-top:-150px;
}

.order {
	margin:125px;
}

.order-1 {
	margin:40px;
}

.order-2 {
	margin:100px;
}

.order-3 {
	margin:35px;
}

.order-4 {
	font-size:25px;
	margin:80px;
}

/******* PAYMENT TAB **********/

/******* PAYTM TAB **********/

.paytm-button {
	border:none;
	background-color: #395f74;
    width: 140px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    padding-top: 7px;
}

.paytm-button a {
	color:white;
}


/******* PAYTM TAB **********/

.card-4 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:20px;
	color:#72727D;

}

.card-4 h5 {
	font-size:15px;
}

.paytm {
	font-size:20px;
	color:black;
	font-weight: 500;
	margin-top:15px;
}

.id {
	font-size:13px;
	color:black;
	margin-top:0px;
	 color: #fff;
}
#sidebar .sidebar-header .card-name {
    color: #fff;
}

.edit a {
    color: #1c1c1c;
}
.card-5 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:20px;
	color:#72727D;
	margin-top:20px;

}

.one {
	margin-top:-19px;
}

article{
	/* background: #ccc;
	height: 200px; */
	display: none;
  }
  article.on{
	display: block;
  }

#tab1 {
	width:18px;
	height:18px;
}

.radio-icon-1 {
	font-size: 17px;
    margin-left: 31px;
	margin-top: -25px;
	color:black;
}

.radio-icon-2 {
	font-size: 17px;
    margin-left: 31px;
	margin-top: -25px;
	color:black;
}

#tab2 {
	width:18px;
	height:18px;
}
#tab3 {
	width:18px;
	height:18px;
}

.radio-icon-3 {
	font-size: 17px;
    margin-left: 31px;
	margin-top: -25px;
	color:black;
}
#tab4 {
	width:18px;
	height:18px;
}
#tab5 {
	width:18px;
	height:18px;
}

.online-payment {
	line-height:45px;
}

.paytm h5 {
	font-size:12px;
	margin-left:55px;
	color:#b8c2cb;
}

.phone-no {
	margin-left:55px;
	border:1px solid #395f74;
	width:50%;
}

.processed-button {
	border: none;
    background: #395f74;
    color: white;
    width: 150px;
    height: 49px;
	margin-top:45px;
}

.card-no {
	font-size: 12px;
	margin-bottom:-6px;
}
.debit {
	margin-left:38px;
}
.card-text {
    border: 1px solid #395f74;
    width: 100%;
}

.card-expiry {
    border: 1px solid #395f74;
    width: 70%;
}

.card-expiry-date {
	display: inline;
}

.cvv-date {
	display:inline;
}

.card-cvv {
    border: 1px solid #395f74;
    width: 50%;
}

.BHIM-text {
	font-size:14px;
	line-height: 17px;
}

.pay-button {
	border: none;
    background: #395f74;
    color: white;
    width: 150px;
    height: 49px;
}

#net-banking {
	margin-left:50px;
	width:90%;
	height:45px;
}

.go-back  {
  color:black;
  font-weight: 500;
}

.quick-links {
	font-weight: 500;
}

.line {
  border: 1px solid #f1f1f2;
  margin-top:-10px;
}

.line-1 {
	border: 1px solid #f1f1f2;
	margin-top:10px;	
}

.shortlist a {
	color:black;
	font-size:15px;
}

.card-6 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:20px;
	color:#72727D;
	margin-top:50px;

}

.profile-id {
	margin-top: 10px;
    font-size: 14px;
    font-family: arial;
}
.search {
 border:none;
 padding-left: 10px;
 width:70%;
}

.go {
	border:none;
	background:#395f74;
	width:40px;
	color:white;
	padding-top:3px;
	padding-bottom:3px;
}

.useful-link {
	margin-top:10px;
	font-size:15px;
	font-weight: 500;
}

.link {
	line-height:30px;
	margin-top:15px;
}
.link a {
	font-size:15px;
}

input.bdr {
    font-size: 13px;
    font-weight: 400;
    font-family: arial;
}

select#height {
    font-size: 13px;
    font-weight: 400;
    font-family: Arial;
}

select#state {
    font-size: 13px;
    font-weight: 400;
    font-family: arial;
}

select#income {
    font-size: 13px;
    font-weight: 400;
    font-family: arial;
}

select#cars {
    font-size: 13px;
    font-weight: 400;
    font-family: arial;
}

select#manglik {
	font-size: 13px;
	font-weight: 400;
	font-family: arial;
}
/******* PAYTM TAB **********/

.search-1 {
	margin-top:40px;
}
.nav-pills .nav-link {
	color:black;
}

.card-7 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:20px;
	color:#72727D;
	margin-top:50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 20px, rgba(0, 0, 0, 0.2) 0px 6px 8px;
}
section.short-sec {
    padding-bottom: 70px;
}
#caste {
	width:30%;
	font-size:13px;
}

#search-caste {
	width:50%;
	border:none;
	border-bottom:1px solid black;
	font-size:13px;
}

.card-8 h4 {
	font-size:18px;
	font-weight:400;
	margin-top:5px;
	text-align: center;
    /* margin-bottom: -8px; */
}

.enter-profile-id {
	font-size: 18px;
    font-weight: 400;
	margin-top: 5px;
	text-align:center;
}

.card-8 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;

	padding:5px;
	color:#72727D;
	margin-top:50px;
}

.saved-search {
	background-color: #e0e0e0;
	 width: 100%;
	 padding-top:5px;
}

.saved-search-text {
	text-align: center;
	font-size:13px;
	font-weight: 400;
	padding-top: 20px;
}


.card-9 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:10px;
	padding-bottom:10px;
	padding:5px;
	color:#72727D;
	margin-top:20px;
}

.card-9 h4 {
	font-size:17px;
	font-weight:400;
	margin-top: 5px;
}

.enter-profile-placeholder {
	margin-top:10px;
	margin-bottom:10px;
}

.enter-text {
	width:75%;
	margin-top:10px;
}

.go-1 {
			border: none;
			background: #395f74;
			width: 40px;
			color: white;
			padding-top: 3px;
			padding-bottom: 3px;
			/* margin-left: 138px;
		margin-top: -30px; */
}

.form-group-1 {
	margin:auto;
}


/********** MY MATCHES **********/


.card-10 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:20px;
	color:#72727D;
	margin-top:50px;
	width:100%;

}
section.matches-sec {
    padding-bottom: 65px;
    padding-top: 20px;
}
.matches {
	background-color: #e9ecef;
}

.matches-1 h6 {
	color: rgb(149, 149, 157);
	font-size:14px;
}

.never-married {
	float:right;
}

.match-detail {
	line-height:30px;
}

@media (max-width:767px) {
	.match-detail span {
     font-size:14px;
	}
}
p.description {
    font-size: 13px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.profile {
	height:250px;
	object-fit: cover;
	width: 100%;
    border-radius: 5px;
}

.click {
	font-style:italic;
	padding-top: 47px;
    text-align: center;
}

@media (max-width:767px) {
	.click {
		padding-top:0px;
	}
}

.check-button {
    border-radius: 50%;
    border: 1.5px solid #bc1c1e;
    margin: auto;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 8px;
    color: #bc1c1e;
        cursor: pointer;
}


.check-button:hover {
    color: #fff;
    background:#bc1c1e;
}


.check-button a i {
    color: #bc1c1e;

}
.check-button:focus {
	outline:0;
}


.pad-0 {
	padding-left:0 !important;	
	padding-right:0 !important
}

.padd {
	padding-top:10px;
	padding-bottom:10px;
}

/********** CHAT **********/
.chat {
	color: rgb(177, 179, 185);
}

.chat-image {
	width:35px;
	height:40px;
	border-radius:50%;
}

.offline {
	width: 10px;
    height: 10px;
    background-color: #06D85F;
    border-radius: 50%;
    display: inline-flex;
    float: right;
    margin-top: 30px;
}

.chat-height {
	line-height:65px;
}

.invitation {
	font-size: 11px;
    margin-left: 12px;
    margin-top: 5px;
}

.notification-line {
	line-height:58px;
}

/********** CHAT **********/

/********** VISITOR PAGE **********/
.visitors {
    text-align: center;
    background-color: rgb(188 28 30);
    color: white;
    border: none;
    padding: 0px 12px 1px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.visitors:focus {
	outline:0;
}

.visitor-detail {
	margin-top:2px;
	color:white;
}



/********** VISITOR PAGE **********/


.card-12 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:0px;
	color:#72727D;
	margin-top:50px;
	width:118%;
}

@media (max-width:767px) {
	.card-12 {
		width:100%;
	}
	.cardd {
		width:100%;
	}
	.advert {
		margin:auto;
		display:block;
		margin-top:50px !important
	}
}


.Offers {
	font-size:16px;
	text-align:center;
}

.upgrade-now {
	background: #148ad5;
	color:white;
	margin: auto;
	display: block;
	border:none;
	width: 130px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:10px;
}

.offer-valid {
	font-size:12px;
	text-align: center;
	margin-top:10px;
}

.advert {
	margin-top:80px;
}

.improve {
	margin-top:12px;
	font-size:18px;
}

.card-13 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#2ebdc2;
    background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	background-image: linear-gradient(to right, #81c774 , #2ebdc2); /* Standard syntax (must be last) */

	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:0px;
	color:#72727D;
	margin-top:10px;
	width:100%;

}

.text-color {
	color:white;
	text-align: center;
	font-size:20px;
}

.text-work {
	color:white;
	text-align: center;
	font-weight:600;
	margin-top:-5px;
}

.add-photo {
	border:none;
	background-color: white;
	width:120px;
	padding-top:5px;
	padding-bottom: 5px;
	margin:auto;
	display: block;
	border-radius: 17px;
	color:#2ebdc2;
	font-weight:600;
}

.add-photo:focus {
	outline:0;
}


.card-14 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:0px;
	color:#72727D;
	margin-top:12px;
	width:100%;

}

.name {
	font-size:13px;
	/* font-family: Roboto, sans-serif; */
	font-weight: 500;
	margin-bottom:5px;
}

.float {
	float:right;
}

.profile-image { 
	width:50px;
	height:50px;
	border-radius:50%;
}
.other-detail {
	font-size: 13px;
    margin-bottom: 0px;
}

.connect-now {
	font-size: 9px;
    margin-top: 6px;
}

.pad {
	padding-left:30px;
}

.premium { 
	width:85px;
	padding-left:10px;
}

.card-16 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:0px;
	color:#72727D;
	margin-top:12px;
	width:100%;
	border-radius: 5px;
	margin:auto;
}

@media(max-width:767px) {
	.card-16 {
		width:100%;
	}
}

.notification {
	font-size:13px;
}

.notification-1 {
	    padding-top:0px;
		color: #8c9497;
		font-size: 11px;
}

.row-h {
    padding: 11px 10px 0 10px;
}

.row-h:hover {
	background-color: #f5f6f9;
}

.main-matches hr {
    margin-top: 0;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

/* .news {
	margin-top:65px;
} */


.card-17 {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-top:20px;
	padding-bottom:20px;
	padding:20px;
	color:#72727D;
	margin-top:-30px;
}

@media (max-width:767px) {
	.card-2 {
		margin-left:0px;
	}
	
	.chat-page {
		margin-top:40px;
	}
	.new-matches {
		margin-top:20px;
		margin-bottom:20px;
	}
	.all-bank {
		margin-top:20px;
	}
	.order-summary {
		margin-top: 30px;
	}
}

a:hover {
	text-decoration: none;
}


.button-three {
	background-color:rgb(255, 90, 96);
	padding-top:10px;
	padding-bottom:10px;
	color:white;
	padding-left:10px;
	padding-right:10px;
	margin:auto;
	display: block;
	text-align:center;
	border-radius: 7px;
	margin-bottom:15px;
}

.backto {
    color:black;
	font-weight: 600;
}

/* .first-label {
	margin-left:-5px;
} */

/* .mobile-no {
	margin-left:7px;
} */

.font-size-text {
	font-size:14px;
}

#popup1 {
	margin-top:30px;
}

#popup2 {
	margin-top:30px;
}
#popup3 {
	margin-top:30px;
}
#popup4 {
	margin-top:30px;
}
#popup5 {
	margin-top:30px;
}
#popup6 {
	margin-top:30px;
}
#popup7 {
	margin-top:30px;
}

#popup8 {
	margin-top:30px;
}

#popup9 {
	margin-top:30px;
}


@media(max-width:767px) {
	#popup1 {
		margin-top:20px;
	}
}

@media(max-width:767px) {
/* #profile-greed {
	margin-top:25px;
} */
.fixed-top {
	position: relative;
}
#banner-1 {
	margin-top:0px;
}
 .search-1 {
	 margin-top:75px;
 }
 /* .navbar-toggler-one {
	 border:none;
 } */

 }

.line-text {
	line-height:40px;
}

.button-one {
	background:#dddddd;
}
.first {
    padding: 0 20px 20px 20px;
}
p.all-ready-m {
    color: #151313;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
}
.modal-header {
	border-bottom:none;
}

.modal-content {
    width: 75%;
    margin: auto;
    margin-top: 50px;
}
h5.text-center.p-welcome {
    padding: 10px 0 20px 0;
}
a.create {
    padding-top: 20px;
    display: block;
    font-size: 14px;
        font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .modal-content {
		margin-top:30px;
	}
	.card-name {
		font-size:10px !important;
	}
	.id {
		font-size:10px;
	}
	.edit {
		font-size:10px;
	}
	.type {
		font-size:10px;
	}
	.member {
		font-size:10px;
	}
	.matches-1 h5 {
		font-size:12px;
	}
	.matches-1 h6 {
		font-size:10px;
	}
	.match-detail span {
	  font-size:12px;	
	}
	.description {
		font-size:10px;
	}
	.match-detail {
		line-height:25px;
	}
    .click {
		font-size:11px;
	}
	.clickone {
		font-size:11px;
		margin-top:5px;
	}
	.profile {
		height:230px;
	}
    .card-17 {
		margin-top:30px;
	}


}

@media screen and (max-width: 425px) {
	.invitation {
		margin-left:15px;
	}
}





.profile-user-img {
	/* width: 125px; */
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	border-radius:50%;
	margin: auto;
    display: block;
  }
  
  .avatar-upload {
	position: relative;
	max-width: 205px;
	margin: auto;
	margin-bottom: 20px;
  }
  .avatar-upload .avatar-edit {
	position: absolute;
	right: 40px;
	z-index: 1;
	top: 90px;
  }
  
  .pd-5 {
	  padding-left:5px !important;
	  padding-right:5px !important;
  }
  .avatar-upload .avatar-edit input {
	display: none;
  }
  .avatar-upload .avatar-edit input + label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #FFFFFF;
	border: 1px solid #d2d6de;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all .2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
	background: #f1f1f1;
	border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
	content: "\f030";
	font-family: 'FontAwesome';
	color: #337AB7;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 34px;
	margin: auto;
  }

.list-group-item {
	border:none;
}

.card-name {
	font-size:15px;
	margin-bottom:1px;
}


.line-ten {
	margin-top:0px;
}

.notification-space {
	margin-top:20px;
	margin-bottom:20px;
}

.notification-space-one {
	margin-bottom:20px;
}

.chat-page {
	background-color: white;
	/* position: fixed; */
    right: 0px;
    bottom: 0px;
    width: 260px;
	/* margin-top:15px;
	overflow-y: scroll;
	height:700px; */
}

/* .tab-content {
	height: 500px;
    overflow-y: scroll;
} */

.more {
	padding:20px;
}





.main-section{
	width: 255px;
	position: fixed;
	right:20px;
	bottom:-350px;
  }
  .first-section:hover{
	cursor: pointer;
  }
  .open-more{
	bottom:0px;
	transition:2s;
  }
  .border-chat{
	border:1px solid #FD8468;
	margin: 0px;
  }
  .first-section{
	background-color:#FD8468;
  }
  .first-section p{
	color:#fff;
	margin:0px;
	padding: 10px 0px;
  }
  .first-section p:hover{
	color:#fff;
	cursor: pointer;
  }
  .right-first-section{
	 text-align: right;
  }
  .right-first-section i{
	color:#fff;
	font-size: 15px;
	padding: 12px 3px;
  }
  .right-first-section i:hover{
	color:#fff;
  }
  .chat-section ul li{
	list-style: none;
	margin-top:10px;
	position: relative;
  }
  .chat-section{
	overflow-y:scroll;
	height:300px;
  }
  .chat-section ul{
	padding: 0px;
  }
  .left-chat img,.right-chat img{
	width:50px;
	height:50px;
	float:left;
	margin:0px 10px;
  }
  .right-chat img{
	float:right;
  }
  .second-section{
	padding: 0px;
	margin: 0px;
	background-color: #F3F3F3;
	height: 300px;
  }
  .left-chat,.right-chat{
	overflow: hidden;
  }
  .left-chat p,.right-chat p{
	background-color:#FD8468;
	padding: 10px;
	color:#fff;
	border-radius: 5px; 
	float:left;
	width:60%;
	margin-bottom:20px;
  }
  .left-chat span,.right-chat span{
	position: absolute;
	left:70px;
	top:60px;
	color:#B7BCC5;
  }
  .right-chat span{
	left:45px;
  }
  .right-chat p{
	float:right;
	background-color: #FFFFFF;
	color:#FD8468;
  }
  .third-section{
	border-top: 1px solid #EEEEEE;
  }
  .text-bar input{
	width:90%;
	margin-left:-15px;
	padding:10px 10px;
	border:1px solid #fff;
  }
  .text-bar a i{
	background-color:#FD8468;
	color:#fff;
	width:30px;
	height:30px;
	padding:7px 0px;
	border-radius: 50%;
	text-align: center;
  }
  .left-chat:before{
	content: " ";
	position:absolute;
	top:0px;
	left:55px;
	bottom:150px;
	border:15px solid transparent;
	border-top-color:#FD8468; 
  }
  .right-chat:before{
	content: " ";
	position:absolute;
	top:0px;
	right:55px;
	bottom:150px;
	border:15px solid transparent;
	border-top-color:#fff; 
  }

  .color-button {
	  background: white;
  }

  .year {
	  font-size:15px;
	  color:#72727D;
	  font-weight: 400;
  }

  .year-one {
	font-size: 15px;
    color: #72727D;
	font-weight: 400;
	margin-top:23px;
  }

  .space {
	  margin-top:10px;
	  margin-bottom:10px;
  }

  .space-one {
	  margin-top:10px;
  }

  .main-menu {
	  padding-top:20px;
	  line-height:35px;
	  /* border-left:1px solid rgba(0,0,0,.1); */
  }

  .age {
	  font-weight: 500;
  }

  .text-one {
	  font-size:14px;
  }

.main-matches {
    margin: 60px 0;
}


.info-one {
	padding-bottom: 14px;
  text-align: center;
}

.sign {
	 margin-top:20px;
}

/***************************** breadcrum css ****************/
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #fff;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
section#breadcrumb {
    background-image: url(../images/breadcrumb-bg.png);
    height: 50vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}
ul.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #fff;
    text-decoration: none;
}

header.user .navbar {
    padding-top: 20px;
}
.user .fixed-header {
    padding-top: 10px !important;
}



/************************** new profile card css ***********************/
.pd5{
  padding-left: 5px!important;
  padding-right: 5px!important;
}

div#pr-card .card {
    width: 100%;
    background-color: #fff;
    padding: 1rem;
}
div#pr-card .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div#pr-card .card__profile img {
    /* border-radius: 50%; */
    height: 8rem;
    width: 8rem;
    -o-object-fit: cover;
    object-fit: cover;
}
div#pr-card .card__name {
  margin-left: 1.25rem;
}

div#pr-card .card__handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

div#pr-card .card__button svg {
  height: 1.05rem;
  width: 1.05rem;
  margin-right: 5px;
}

div#pr-card .card__button {
  margin-left: auto;
}

div#pr-card .card__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.05rem;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

div#pr-card .card__button button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

div#pr-card .card__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div#pr-card .card__button button a{
    color: white;
    }


div#pr-card span.circle {
  height: 3px;
  width: 3px;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
}

div#pr-card .border {
  border-radius: 5px;
  height: 2px;
  background-color: var(--border);
  border: none;
  margin: 1.25rem 0;
}

div#pr-card .navlinks {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1.25rem 0;
}
div#pr-card .navlinks li {
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}
div#pr-card .navlinks li a {
    font-weight: 500;
}

div#pr-card .navlinks li + li {
  margin-left: 20px;
}

div#pr-card .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85rem;
}

div#pr-card .date svg {
  margin-left: 5px;
  height: 1rem;
  width: 1rem;
}

.heading {
  font-weight: bold;
  font-size: 1.1rem;
}

div#pr-card .insights {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#pr-card .insights .insight {
    width: 280px;
    padding: 1rem;
    outline: 2px solid #d0c9c9;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

div#pr-card .insights .insight:hover {
  color: white;
  background-color: var(--primary);
}

div#pr-card .insights .insight .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#pr-card .insights .insight .heading .score {
  margin-left: auto;
}

div#pr-card .insights .insight .heading .score span {
  color: #44c790;
}

div#pr-card .insights .insight .heading span {
  font-size: 0.8rem;
}
div#pr-card .number {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 15px;
    color: #bc1c1e;
}

div#pr-card .number .info {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
}

div#pr-card .number .info svg {
  height: 15px;
  width: 15px;
}

@media (max-width: 1381px) {
 div#pr-card .insights {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

}

@media (max-width: 990px) {
 div#pr-card .insights {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
 div#pr-card .insights .insight + .insight {
    margin: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 740px) {
 div#pr-card .card {
    width: 90%;
  }
 div#pr-card .navlinks {
    display: none;
  }
}

@media (max-width: 545px) {
 div#pr-card .card__button button {
    width: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div#pr-card .card__button button span {
    display: none;
  }
  div#pr-card .card__button button svg {
    margin-right: 0;
  }
}

@media (max-width: 475px) {
 div#pr-card .card__button {
    display: none;
  }
}

ul.navlinks li.link__item {
    display: block;
}
ul.navlinks li.link__item {
    display: block;
    padding: 10px 1px;
}

/********************interest page css ********/



/*************** new button css ************/
#user {
    margin: 69px 0;
    padding-bottom: 40px;
}
section.interest-sec .btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.fourth {
    border-color: #bc1c1e;
    color: #fff;
    background-image: linear-gradient(45deg, #bc1c1e 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #bc1c1e;
}
.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
    color: #fff;
}

section.interest-sec {
    margin-top: 48px;
}

/*************************** visitor css *****************/
.info-one p {
    font-size: 12px;
    margin-bottom: 2px;
}



/********************************* news css *********************/
section.news-sec {
    padding: 70px 0;
}


/*************** load more css ************/

.div1{
  display:block;
  width:50%;
  margin:10px auto;
  background:#fff;
  line-height:50px;
  border-radius:30px;
  display:none;
}

a#seeMore{
  display:block;
  color:#fff;
  margin:0 auto;
  line-height:50px;
  width:30%;
  border-radius:30px;
  text-decoration:none;
  border:3px #ee5f4a solid;
  background:#ee5f4a;
  opacity:0.7;
  margin-bottom:50px;
}

a#seeMore:hover{
  opacity:1;
}




/********************** profile view ***************/

section.user-view .main-body {
    padding: 15px;
}
section.user-view .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

 section.user-view .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

section.user-view .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

section.user-view .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

section.user-view .gutters-sm>.col, section.user-view .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
section.user-view .mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

section.user-view .bg-gray-300 {
    background-color: #e2e8f0;
}
section.user-view .h-100 {
    height: 100%!important;
}
section.user-view .shadow-none {
    box-shadow: none!important;
}
section.user-view {
    padding: 50px 0;
    background: #f2f2f2;
}
section.user-view h6 {
    font-size: 14px;
    font-weight: 500;
}
section.user-view .text-secondary {
    color: #6c757d!important;
    padding-top: 3px;
}
a.button-1.h-ed:hover {
    color: #fff;
}
textarea#textarea {
    height: auto;
}


/************************** new chat box ******************/
section.chat-sec {
    padding: 50px 0;
}

#frame {
    width: 100%;
    min-width: 360px;
    max-width: 100%;
    height: 87vh;
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}
#frame #sidepanel {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 58px;
    min-width: 58px;
  }
}
#frame #sidepanel #profile {
  width: 80%;
  margin: 25px auto;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}
#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}
#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}
#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#frame #sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
    height: 55px;
  }
}
#frame #sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}
#frame #sidepanel #profile .wrap img.online {
  border: 2px solid #2ecc71;
}
#frame #sidepanel #profile .wrap img.away {
  border: 2px solid #f1c40f;
}
#frame #sidepanel #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}
#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}
#frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
    color: #fff;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
    display: none;
  }
}
#frame #sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #435f7a;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}
#frame #sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}
#frame #sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}
#frame #sidepanel #profile .wrap #status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}
#frame #sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886;
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
  background: #2ecc71;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
  border: 1px solid #2ecc71;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
  border: 1px solid #f1c40f;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
  border: 1px solid #e74c3c;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
  background: #95a5a6;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
  border: 1px solid #95a5a6;
}
#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}
#frame #sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}
#frame #sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}
#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}
#frame #sidepanel #search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  font-weight: 300;
    background: #32465a;
        padding: 6px 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #search {
    display: none;
  }
}
#frame #sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}
#frame #sidepanel #search input {
    padding: 8px 0 8px 46px;
    width: 95%;
    border: none;
    background: #435f7a;
    color: #f5f5f5;
    margin: auto;
    display: block;
    border-radius: 20px;
}
#frame #sidepanel #search input:focus {
  outline: none;
  background: #435f7a;
}
#frame #sidepanel #search input::-webkit-input-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input::-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-ms-input-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #contacts {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    display: none;
  }
}
#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}
#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: #2c3e50;
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}
#frame #sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}
#frame #sidepanel #contacts ul li.contact:hover {
  background: #32465a;
}
#frame #sidepanel #contacts ul li.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}
#frame #sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}
#frame #sidepanel #contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}
#frame #sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}
#frame #sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}
#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-size: 16px;
    color: #fff;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
      color: #fff;
      font-size: 12px;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}
#frame #sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#frame #sidepanel #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  background: #32465a;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}
#frame #sidepanel #bottom-bar button:focus {
  outline: none;
}
#frame #sidepanel #bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}
#frame #sidepanel #bottom-bar button:hover {
  background: #435f7a;
}
#frame #sidepanel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button span {
    display: none;
  }
}
#frame .content {
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px);
  }
}
#frame .content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}
#frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
#frame .content .contact-profile p {
  float: left;
}
#frame .content .contact-profile .social-media {
  float: right;
}
#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}
#frame .content .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
#frame .content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}
#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
#frame .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
#frame .content .message-input .wrap {
  position: relative;
}
#frame .content .message-input .wrap input {
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}

/****************** pagination css ***********/
.pagination-wrap ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.pagination-wrap ul li {
    margin-right: 10px;
    display: block;
    margin-top: 10px;
    list-style: none;
}
.pagination-wrap ul li a {
    display: block;
    background: #e5e9ec;
    color: rgba(52, 52, 52, 0.722);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    padding: 16px 24px;
}
.pagination-wrap ul li.active a {
    background: #bc1c1e;
    color: #FFF;
}
.pagination-wrap.card-pagination {
    padding-top: 50px;
}
